.sidebar__title
  margin-bottom: $gutter*2/3
  
  img 
    display: block
    height: auto

  a
    display: block
    font-size: 18px
    font-weight: bold
    text-decoration: none
    color: $dark-grey

    &:hover
      color: $active-color

.sidebar__intro
  color: $light-grey
  margin-bottom: $gutter
  font-family: $headings-font-family
  color: $active-color
  font-weight: 400
  max-width: 520px
 
.sidebar__menu
  margin-top: -4px
  margin-bottom: $gutter

  li
    a
      text-decoration: none
      display: block
      color: $dark-grey
      position: relative
      font-size: .875em
      font-weight: 700
      padding: 4px 0
      text-transform: uppercase
      transition: color $animation-speed ease-in-out
      
      &:hover
        color: $active-color

    &.is-active a
      font-weight: bold
      color: $active-color

.sidebar__footer
  line-height: 1.66
  color: $light-grey
  font-size: 13px

  p 
    margin-bottom: 0

  a 
    color: inherit
    text-decoration: none
    transition: all $animation-speed ease-in-out

    &:hover
      color: $active-color

.sidebar__social
  margin-top: $gutter/2

.social
  display: inline-block
  text-decoration: none
  margin-right: $gutter/6
  background: $light-grey-icon
  width: 28px
  height: 28px
  border-radius: 50%
  position: relative

  img  
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    height: 55%

  &:hover 
    background: $active-color

  &.social--behance img 
      height: 50%

  &.social--instagram img 
      height: 65%

@media screen and (max-width: 599px)
  .sidebar__menu
    margin-bottom: $gutter/2
    
    li
      a
        font-size: .8125em
        padding: 2px 0

  .sidebar__title
    margin-bottom: $gutter/2

    img  
      width: 40px
      height: 40px

  .sidebar__intro
    margin-bottom: $gutter/2
    font-size: .75em

  .sidebar__social
    margin-top: $gutter/4
  
  .sidebar__footer
    font-size: .75em

@media screen and (min-width: $tablet)
  .sidebar__footer
    position: absolute
    bottom: 0
    left: 0
  
@media screen and (min-width: $laptop-medium)
  .sidebar__intro
    font-size: 1.25em


